---

import SidebarItem from '@/components/Sidebar/SidebarItem.astro';
import Icon from '@/components/Icon.astro';

import type { Navigation, IconPath } from '@/types/admin/sidebar';

const navigation: Navigation = [
    [
        { icon: 'dashboard' as IconPath, name: 'Dashboard', link: '/gl-admin', gradient: ["#688BFF", "#00FBFB"] },
        { icon: 'new-tab' as IconPath, name: 'View site', link: '/' },
    ],
    [
        { icon: 'content' as IconPath, name: 'All content', link: '/gl-admin/content', gradient: ["#F9C700", "#00FBFB"], sub:
            [
                { name: 'Pages', link: '/gl-admin/content?type=pages' },
                { name: 'Posts', link: '/gl-admin/content?type=posts' },
            ]
        },
    ],
    [
        { icon: 'media' as IconPath, name: 'Media', link: '/gl-admin/media', gradient: ["#FFB62D", "#FF1A5B"] },
        { icon: 'plugins' as IconPath, name: 'Plugins', link: '/gl-admin/plugins', gradient: ["#51FB9E", "#34BD0A"] },
    ]
]

---

<nav class="admin-sidebar">
    <div class="admin-sidebar__head">
        <Icon name="logoIcon" class="logo" width="42" height="42" />
    </div>
    <div class="admin-sidebar__nav">
        {navigation.map(section => (
            <div class="admin-sidebar__nav_section">
                {section.map(item => (
                    <>
                        <SidebarItem iconPath={item.icon} name={item.name} link={item.link} gradient={item.gradient} />
                        {item?.sub && item.sub.map(subItem => (<SidebarItem name={subItem.name} link={subItem.link} subItem={true} />))}
                    </>
                ))}
            </div>
        ))}
    </div>
</nav>

<style lang="scss">
    .admin-sidebar {
        display: flex;
        flex-direction: column;
        width: 21.1875rem;
        background: #b4b3af05;
        box-shadow: 0 0 16px 0 #00000033;
        height: 100vh;

        &__head {
            display: flex;
            padding: 1.1rem 1.65rem;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
        }

        &__nav {
            display: flex;
            overflow-y: auto;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            padding: 0 1rem;

            &_section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.5rem;
                width: 100%;
            }
        }
    }
</style>